div{
    color: red;
    width: 100px;
    height: 100px;
}
p{
    background: lime;
    color: blue;
    cursor: pointer;
}

span{
    display: inline-block;
    width: 100px;
    height: 100px;
    color: red;
}