div{
    color: red;
    width: 100px;
    height: 100px;
}
p{
    width: 100px;
    height: 100px;
    background: lime;
    color: blue;
<<<<<<< HEAD
    cursor: pointer;
}

span{
    display: inline-block;
    width: 100px;
    height: 100px;
    color: red;
=======
}
input{
    user-select: none;
    overflow: hidden;
    width: 100px;
    height: 100px;
>>>>>>> dev1
}